apiVersion: apps/v1
kind: Deployment
metadata:
  name: pedidos
spec:
  replicas: 2
  selector:
    matchLabels:
      app: pedidos
  template:
    metadata:
      labels:
        app: pedidos
    spec:
      containers:
      - name: pedidos
        image: pedidos-veloz-pedidos:latest
        imagePullPolicy: Never
        env:
          - name: DB_HOST
            value: postgres
          - name: DB_USER
            value: postgres
          - name: DB_PASSWORD
            value: postgres
          - name: DB_NAME
            value: pedidos
          - name: DB_PORT
            value: "5432"
        ports:
        - containerPort: 3000
---
apiVersion: v1
kind: Service
metadata:
  name: pedidos
spec:
  selector:
    app: pedidos
  ports:
    - port: 3000
      targetPort: 3000
